# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.suo
*.user
*.sdf
*.opensdf
*.filters
*.pdb
*.exp
*.ilk
[Dd]ebug*/
[Rr]elease*/
[._][rR]e[sS]harper*/
ipch*/
/project/VS2010Express/pvr.iptvsimple.*.zip
/project/VS2010Express/*.metaproj*
/*.zip
/.cproject
/.project
/aclocal.m4
/config.log
/config.status
/configure
/libtool
/Makefile
/Makefile.in
/autom4te.cache/
/autotools/
/addons/Makefile
/addons/Makefile.in
/addons/pvr.iptvsimple/Makefile
/addons/pvr.iptvsimple/Makefile.in
/src/Makefile
/src/Makefile.in
/src/iptvsimple/.deps/
/src/iptvsimple/Makefile
/src/iptvsimple/Makefile.in
/src/iptvsimple/XBMC_IPTV_Simple.pvr
